<div class="container">
	<div class="section" id="introSlider"></div>

	<div>
		<button id='button1' class='btn-blue'>Premi per vedere solo
			le news di settembre 2015</button>
		<button id='button2' class='btn-green'>Premi per vedere tute
			le news</button>
	</div>
	<div class="section">
		<div id="news"></div>
	</div>
</div>
